/0519
/0521
/0624, 0703
/pose_system.zip
/test.py
/test1.py
/test2.py
/venv
/yolov8n-seg.pt
/yolov8n.pt
/노트.docx
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# PyInstaller
*.manifest
*.spec

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Environments
.env
.venv
ENV/
env/
venv/
env.bak/
venv.bak/

# IDE / Editor settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# TensorFlow / PyTorch checkpoints
*.ckpt
*.pth
*.pt

# Dataset / Large files
*.csv
*.h5
*.hdf5
*.tfrecord
*.weights
*.onnx

# Local configs
config_local.py
